__pycache__

Appearance.py
AppearanceRun.py

fc3-inference.py
fc3-main.cpp

lenet5-inference.py
lenet5-main.cpp

ExeTest
ExeTest.cpp
PyTest.py
FunctionsTest.py

*.ui
*.png
image_matrix.txt
output_matrix.txt
.DS_store
.vscode
*.gif
*.log

bin/*

DVSGesture_frames